*.o
*.d
.vscode
reflector/urfd.blacklist
reflector/urfd.whitelist
reflector/urfd.interlink
reflector/urfd.terminal
configure.mk
configure.h
configure.sql
reflector.cfg
wiresx/configure.php
urfd*
inicheck
dbutil
