[Unit]
Description=urfd
Requires=network.target
After=systemd-user-session.service network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/urfd
Restart=always

[Install]
WantedBy=multi-user.target
